TWILIO_ACCOUNT_SID=ACXXX
TWILIO_AUTH_TOKEN=XXX
TWILIO_SERVICE_SID=GAXXXX
PUBLIC_URL=https://localhost:3901
BUN_SERVER=http://localhost:3902
NEXT_PUBLIC_BUN_SERVER=http://localhost:3902
DASHBOARD_PORT=3901
BUN_PORT=3902
