TWILIO_ACCOUNT_SID=ACXXX # Twilio Account SID
TWILIO_AUTH_TOKEN=XXX # Twilio Auth Token
TWILIO_SERVICE_SID=GAXXXX # Voice Intelligence Service SID
PUBLIC_URL=https://localhost:3901 # Public URL of the dashboard
BUN_SERVER=http://localhost:3902 # Bun Server URL
NEXT_PUBLIC_BUN_SERVER=http://localhost:3902 # Next.js Dashboard URL
DASHBOARD_PORT=3901 # Dashboard Port
BUN_PORT=3902 # Bun Server Port
